@font-face {
    font-family: Arimo;
    src: url("../assets/fonts/Arimo-Regular.ttf");
}
@font-face {
    font-family: Lucida-Grande;
    src: url("../assets/fonts/Lucida-Grande-Regular.ttf");
}

@font-face {
    font-family: Heebo;
    src: url("../assets/fonts/Heebo-Regular.ttf");
}
@font-face {
    font-family: Heebo-Bold;
    src: url("../assets/fonts/Heebo-Bold.ttf");
}