* {
    box-sizing: border-box;
}
html {
    max-width: 100%;
    overflow-x: hidden;
}
body {
    direction: rtl;
    font-family: Heebo;
    background-color: $clr4;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

button {
    font-family: Heebo;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

img {
    width: 100%;
}
input {
    border: none;
    background-image: none;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

a {
    color: inherit;
    text-decoration: none;
    margin: 0 auto;
}

h1,
h2 {
    margin: 0 0;
}
h1 {
    font-family: Heebo-Bold;
    font-size: rem(30px);
}
h2 {
    font-family: Heebo-Bold;
    font-size: rem(16px);
}

p {
    margin: 0 0 rem(20px);
    max-width: 60ch;
}
